html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.header {
  color: #e9e5e5;
  background: url("../img/rain.gif");
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  font-family: 'Quattrocento', serif; }
  .header__logo {
    position: absolute;
    top: 40%;
    margin-right: 5%;
    font-size: 5em;
    text-align: right;
    transition: all ease-in-out 500ms; }
    .header__logo:hover > .header__logo__hover {
      opacity: 1; }
    .header__logo--mod {
      color: #82b1c6; }
    .header__logo__hover {
      font-size: .3em;
      text-align: left;
      margin: 10%;
      opacity: 0; }
  .header__overlay {
    background-color: rgba(0, 0, 0, 0.7);
    z-index: -98;
    height: 100vh;
    width: 100%; }
  .header__nav {
    height: 400px;
    position: absolute;
    display: flex;
    justify-content: space-around;
    top: 15%;
    left: 15%;
    font-size: 2.5em;
    color: rgba(92, 92, 92, 0.68);
    transform: rotate(-29deg); }
    .header__nav__btn {
      flex: 1;
      margin: 5%;
      font-size: 1.5em;
      transition: all ease-in-out 370ms; }
      .header__nav__btn:hover {
        color: rgba(156, 243, 246, 0.76); }
      .header__nav__btn--sub {
        font-size: .5em;
        opacity: 0;
        transition: all ease-in-out 350ms;
        margin-top: 50px;
        text-align: center; }
        .header__nav__btn--sub li:hover {
          color: rgba(254, 254, 254, 0.82); }
      .header__nav__btn--sub {
        transition: all ease-in-out 350ms; }
      .header__nav__btn:hover > .header__nav__btn--sub {
        opacity: 1;
        transform: rotate(29deg); }
        .header__nav__btn:hover > .header__nav__btn--sub li {
          margin-bottom: 25px; }

li {
  transition: margin ease-in-out 700ms; }
  li:hover {
    cursor: pointer; }

.tape {
  background-image: url("../img/tape.jpg");
  height: 900px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 1.5em;
  color: #6e9a99;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }
  .tape__item {
    flex-basis: 40%;
    padding: 4%;
    transition: all ease-in-out 350ms; }
    .tape__item:hover {
      color: #bb7000; }

.shop {
  background-image: url("../img/hoodie-1.jpg");
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
  height: 900px; }

/*# sourceMappingURL=app.css.map */
