.container {
  display: none;
  max-width: 1500px;
  margin: 0 auto; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  color: inherit;
  text-decoration: none; }

a:hover {
  color: inherit;
  text-decoration: none;
  cursor: pointer; }

.header {
  color: rgba(233, 230, 230, 0.8);
  background: url("../img/rain.gif");
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  font-family: 'Quattrocento', serif; }
  .header__click {
    text-decoration: none;
    color: white; }
    .header__click:hover {
      text-decoration: none;
      color: rgba(10, 119, 221, 0.48); }
  .header__logo {
    position: absolute;
    top: 40%;
    right: 0;
    display: flex; }
    .header__logo__about {
      font-size: 1.6em;
      position: absolute;
      width: 600px;
      top: 43%;
      left: 30%;
      display: none; }
    .header__logo__title {
      font-size: 6em;
      text-align: right;
      flex-basis: 70%;
      margin-right: 5%; }
      .header__logo__title--mod {
        color: rgba(12, 199, 249, 0.49); }
  .header__overlay {
    background-color: rgba(0, 0, 0, 0.8);
    z-index: -98;
    height: 100vh;
    width: 100%; }
  .header__nav {
    height: 400px;
    width: 40%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 25%;
    left: 14%;
    font-size: 2.5em;
    transform: rotate(-30deg); }
    .header__nav__btn {
      margin: 5%;
      font-size: 1.5em;
      transition: all ease-in-out 370ms; }
      .header__nav__btn:hover {
        color: #7297ba; }
      .header__nav__btn--sub {
        font-size: .5em;
        margin-top: 50px;
        text-align: center;
        transition: all ease-in-out 350ms;
        opacity: 0; }
      .header__nav__btn:hover > .header__nav__btn--sub {
        opacity: 1;
        transform: rotate(30deg);
        color: rgba(107, 251, 186, 0.56); }
        .header__nav__btn:hover > .header__nav__btn--sub li {
          transition: all ease-in-out 700ms;
          margin-bottom: 40px;
          cursor: pointer; }

.tape {
  background-image: url("../img/tape.jpg");
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 1.5em;
  color: #6e9a99;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }
  .tape__item {
    flex-basis: 40%;
    margin: 2%;
    transition: all ease-in-out 350ms; }
    .tape__item:hover {
      color: #bb7000; }

.shop {
  display: flex;
  height: 100%;
  width: 100%;
  font-family: 'Quattrocento', serif; }

.hoodies {
  flex-basis: 50%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .hoodies__title {
    font-size: 5em;
    flex-basis: 90%;
    order: 5;
    text-align: center;
    margin-top: 20px; }
  .hoodies__btn {
    order: 6;
    width: 200px;
    height: 70px;
    color: white;
    font-size: 2em;
    background-color: rgba(105, 217, 170, 0.76);
    display: flex;
    transition: all ease-in-out 200ms; }
    .hoodies__btn p {
      margin: auto; }
    .hoodies__btn:hover {
      color: rgba(105, 217, 170, 0.46);
      background-color: rgba(194, 188, 188, 0.12);
      cursor: pointer; }
  .hoodies__item:nth-of-type(3) {
    background-image: url(../img/hoodie-1.jpg);
    background-position: center right;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all ease-in-out 200ms;
    opacity: .5;
    font-size: 3em;
    text-align: center;
    color: rgba(217, 172, 105, 0.76);
    flex-basis: 32%;
    margin: 2%;
    min-height: 365px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .hoodies__item:nth-of-type(3):hover {
      opacity: 1;
      color: rgba(217, 217, 217, 0.83);
      flex-basis: 47%; }
  .hoodies__item:nth-of-type(4) {
    background-image: url(../img/hoodie-1.jpg);
    background-position: center right;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all ease-in-out 200ms;
    opacity: .5;
    font-size: 3em;
    text-align: center;
    color: rgba(217, 172, 105, 0.76);
    flex-basis: 32%;
    margin: 2%;
    min-height: 365px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .hoodies__item:nth-of-type(4):hover {
      opacity: 1;
      color: rgba(217, 217, 217, 0.83);
      flex-basis: 47%; }
  .hoodies__item:nth-of-type(5) {
    background-image: url(../img/hoodie-1.jpg);
    background-position: center right;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all ease-in-out 200ms;
    opacity: .5;
    font-size: 3em;
    text-align: center;
    color: rgba(217, 172, 105, 0.76);
    flex-basis: 32%;
    margin: 2%;
    min-height: 365px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .hoodies__item:nth-of-type(5):hover {
      opacity: 1;
      color: rgba(217, 217, 217, 0.83);
      flex-basis: 47%; }
  .hoodies__item:nth-of-type(6) {
    background-image: url(../img/hoodie-1.jpg);
    background-position: center right;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all ease-in-out 200ms;
    opacity: .5;
    font-size: 3em;
    text-align: center;
    color: rgba(217, 172, 105, 0.76);
    flex-basis: 32%;
    margin: 2%;
    min-height: 365px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .hoodies__item:nth-of-type(6):hover {
      opacity: 1;
      color: rgba(217, 217, 217, 0.83);
      flex-basis: 47%; }

.shirts {
  flex-basis: 50%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .shirts__title {
    font-size: 5em;
    flex-basis: 90%;
    order: 5;
    text-align: center;
    margin-top: 20px; }
  .shirts__btn {
    order: 6;
    width: 200px;
    height: 70px;
    color: white;
    font-size: 2em;
    background-color: rgba(217, 172, 105, 0.76);
    display: flex;
    transition: all ease-in-out 200ms; }
    .shirts__btn p {
      margin: auto; }
    .shirts__btn:hover {
      color: rgba(217, 172, 105, 0.76);
      background-color: rgba(194, 188, 188, 0.12);
      cursor: pointer; }
  .shirts__item:nth-of-type(3) {
    background-image: url(../img/hoodie-2.jpg);
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 200ms all ease-in-out 200ms;
    opacity: .5;
    font-size: 3em;
    text-align: center;
    color: rgba(105, 217, 170, 0.76);
    flex-basis: 32%;
    margin: 2%;
    min-height: 365px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .shirts__item:nth-of-type(3):hover {
      opacity: 1;
      color: rgba(217, 217, 217, 0.83);
      flex-basis: 44%;
      justify-content: center; }
  .shirts__item:nth-of-type(4) {
    background-image: url(../img/hoodie-2.jpg);
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 200ms all ease-in-out 200ms;
    opacity: .5;
    font-size: 3em;
    text-align: center;
    color: rgba(105, 217, 170, 0.76);
    flex-basis: 32%;
    margin: 2%;
    min-height: 365px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .shirts__item:nth-of-type(4):hover {
      opacity: 1;
      color: rgba(217, 217, 217, 0.83);
      flex-basis: 44%;
      justify-content: center; }
  .shirts__item:nth-of-type(5) {
    background-image: url(../img/hoodie-2.jpg);
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 200ms all ease-in-out 200ms;
    opacity: .5;
    font-size: 3em;
    text-align: center;
    color: rgba(105, 217, 170, 0.76);
    flex-basis: 32%;
    margin: 2%;
    min-height: 365px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .shirts__item:nth-of-type(5):hover {
      opacity: 1;
      color: rgba(217, 217, 217, 0.83);
      flex-basis: 44%;
      justify-content: center; }
  .shirts__item:nth-of-type(6) {
    background-image: url(../img/hoodie-2.jpg);
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 200ms all ease-in-out 200ms;
    opacity: .5;
    font-size: 3em;
    text-align: center;
    color: rgba(105, 217, 170, 0.76);
    flex-basis: 32%;
    margin: 2%;
    min-height: 365px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .shirts__item:nth-of-type(6):hover {
      opacity: 1;
      color: rgba(217, 217, 217, 0.83);
      flex-basis: 44%;
      justify-content: center; }

.forum {
  background-image: url(../img/mixer.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .forum__register {
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(156, 156, 156, 0.2);
    width: 33%;
    min-height: 50%; }
    .forum__register__input {
      width: 200px;
      height: 100px; }
  .forum__feed {
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center; }

.home__top {
  position: fixed;
  text-decoration: none;
  left: 20px;
  top: 100px;
  display: none;
  font-size: 10em;
  color: rgba(56, 56, 56, 0.72); }
  .home__top--link:hover {
    color: rgba(90, 141, 177, 0.51);
    text-decoration: none; }
  .home__top--link:visited {
    color: inherit; }

/*# sourceMappingURL=app.css.map */
