.cards {
  font-size: 1.5em;
  color: rgb(110, 154, 153);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  &__item {
    flex-basis: 50%;

    transition: all ease-in-out 350ms;
    &:hover {
      color: rgb(187, 112, 0);
    }
  }
}
