.home__top {
	position: fixed;
	text-decoration: none;
  left: 20px;
  top: 100px;
	display: none;
  font-size: 10em;
  color: rgba(56, 56, 56, 0.72);
  &--link {
    &:hover {
      color: rgba(90, 141, 177, 0.51);
      text-decoration: none;
    }
    &:visited {
      color: inherit;
    }
  }
}
