.header {
  color: $color__primary;
  background: url("../img/rain.gif");
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  font-family: 'Quattrocento', serif;
  &__click {
    text-decoration: none;
    color: white;
    &:hover {
      text-decoration: none;
      color: rgba(10, 119, 221, 0.48);
    }
  }
  &__logo {
    position: absolute;
    top: 40%;
    right: 0;
    display: flex;
    &__about {
      font-size: 1.6em;
      position: absolute;
      width: 600px;
      top: 43%;
      left: 30%;
      display: none;
    }
    &__title {
      font-size: 6em;
      text-align: right;
      flex-basis: 70%;
      margin-right: 5%;
      &--mod {
        color: rgba(12, 199, 249, 0.49);
      }
    }
  }
  &__overlay {
    background-color: rgba(0, 0, 0, 0.8);
    z-index: -98;
    height: 100vh;
    width: 100%;
  }
  &__nav {
    height: 400px;
    width: 40%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 25%;
    left: 14%;
    font-size: 2.5em;

    transform: rotate(-30deg);
    &__btn {
      margin: 5%;
      font-size: 1.5em;
      transition: all ease-in-out 370ms;
      &:hover {
        color: rgb(114, 151, 186);
      }
      &--sub {
        font-size: .5em;
        margin-top: 50px;
        text-align: center;
        transition: all ease-in-out 350ms;
        opacity: 0;
      }
      &:hover > &--sub {
        opacity: 1;
        transform: rotate(30deg);
        color: rgba(107, 251, 186, 0.56);

        & li {
          transition: all ease-in-out 700ms;
          margin-bottom: 40px;
          cursor: pointer;
        }
      }
    }
  }
}
