.header {
  color: $color__primary;
  background: url("../img/rain.gif");
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  font-family: 'Quattrocento', serif;
  &__logo {
    position: absolute;
    top: 40%;
    margin-right: 5%;
    font-size: 5em;
    text-align: right;
    transition: all ease-in-out 500ms;
    &:hover > &__hover {
      opacity: 1;
    }
    &--mod {
      color: rgb(130, 177, 198);
    }
    &__hover {
      font-size: .3em;
      text-align: left;
      margin: 10%;
      opacity: 0;
    }
  }
  &__overlay {
    background-color: rgba(0, 0, 0, 0.7);
    z-index: -98;
    height: 100vh;
    width: 100%;
  }
  &__nav {
    height: 400px;
    position: absolute;
    display: flex;
    justify-content: space-around;
    top: 15%;
    left: 15%;
    font-size: 2.5em;
    color: rgba(92, 92, 92, 0.68);
    transform: rotate(-29deg);
    &__btn {
      flex: 1;
      margin: 5%;
      font-size: 1.5em;
      transition: all ease-in-out 370ms;
      &:hover {
        color: rgba(156, 243, 246, 0.76);
      }
      &--sub {
        font-size: .5em;
        opacity: 0;
        transition: all ease-in-out 350ms;
        margin-top: 50px;
        text-align: center;
        & li:hover {
          color: rgba(254, 254, 254, 0.82);
        }
      }
      &--sub {
        transition: all ease-in-out 350ms;
      }
      &:hover > &--sub {
        opacity: 1;
        transform: rotate(29deg);
        & li {
          margin-bottom: 25px;
        }
      }
    }
  }
}


li {
  transition: margin ease-in-out 700ms;
  &:hover {
    cursor: pointer;
  }
}
