// colors

$light: rgba(255, 255, 255, 0.8);
$dark: rgb(88, 88, 88);
$light--a: rgba(187, 187, 187, 0.2);
$light--blue: rgba(88, 203, 228, 0.87);
$light--green: rgba(107, 251, 186, 0.56);
$light--orange: rgba(241, 161, 104, 0.76);
$color__overlay: rgba(0, 0, 0, 0.8);

// images

$shirts__1: "../img/shirt-1.jpg";
$shirts__2: "../img/shirt-2.jpg";
$shirts__3: "../img/shirt-3.jpg";
$shirts__4: "../img/shirt-4.jpg";

$hoodies__1: "../img/hoodie-1.jpg";
$hoodies__2: "../img/hoodie-2.jpg";
$hoodies__3: "../img/hoodie-3.jpg";
$hoodies__4: "../img/hoodie-4.jpg";

$tape__1: "../img/cassette-1.jpg";
$tape__2: "../img/cassette-2.jpg";
$tape__3: "../img/cassette-3.jpg";
$tape__4: "../img/cassette-4.jpg";

$shirts__images: $shirts__1, $shirts__2, $shirts__3, $shirts__4;
$hoodies__images: $hoodies__1, $hoodies__2, $hoodies__3, $hoodies__4;
$tape__images: $tape__1, $tape__2, $tape__3, $tape__4;

// fonts

$font--main: 'Quattrocento', serif;


// breakpoints

$lg-brk: "(max-width: 1110px)";
$md-brk: "(max-width: 962px)";
$sm-brk: "(max-width: 650px)";
